html{ height:100%; }
body{ min-height:100%; padding:0; margin:0; position:relative; }
body:after{ content:''; display:block; height:100px; }
header{ 
  background:#C7DD8B; 
  height:50px; 
}
footer{ 
  background:#DB8A8A; 
  position:absolute; 
  bottom:0; 
  width:100%; 
  height:100px; 
}


/* FOR DEMO ONLY */
body{ font:13px arial; }
label{ cursor:pointer; display:inline-block; transition:1s ease; }
:checked ~ label{ margin-bottom:1400px; }
article{ width:40%; margin:0 auto; color:#444; }
header, footer{ text-align:center; color:#FFF; font:bold 1.2em/2.5 arial;